@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', semi-bold;
    scroll-behavior: smooth;
}
@font-face 
{
  font-family: Notedry;
  src: url(Notedry.ttf);
}
body
{
    background-color: #f4eee5
}
p
{
    font-weight: 600;
    color: #111;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(Camera.jpg);
    background-size: cover;
}
.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{
    font-size: 5em;
    font-family: Notedry;
    color: #2B0D25;
}
.banner .content p
{
    font-size: 1em;
    color: #2B0D25;
}
.box
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  flex-direction: column; /* Stacks items vertically */
  gap: 10px;
}
.btn
{
    font-size: 1em;
    color: #f4eee5;
    background: #8d3a39;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover
{
   letter-spacing: 6px; 
}
.collapsible 
{
  background-color: #f7cbb8;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover:after
{
  color: #8d3a39;
}

.collapsible:after 
{
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after 
{
  content: "\2212";
}
.content 
{
    display: grid;
  	grid-template-columns: repeat(2, 1fr); 
  	gap: 16px;
    padding: 0 18px;
    max-height: 0;
    overflow: scroll;
    transition: max-height 0.2s ease-out;
    background-color: #f4eee5;
    border-style:solid;
    border-color:#f7cbb8;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #f4eee5;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo
{
    color: #f4eee5;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo
{
    color: #111;
}
header .logo span
{
    color: #8d3a39;
}
header.navigation
{
    position: relative;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
    display: inline-block;
}
header .navigation li a
{
    text-decoration: none;
    color: #f4eee5;
    font-weight: 600;
}
header.sticky .navigation li a
{
    color: #111;
}
header.sticky .navigation li a:hover
{
    color: #8d3a39;
}
section
{
    padding: 100px;
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.personalAbout
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.titleText
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span
{
    color: #8d3a39;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx
{
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.row .col50 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

ul 
{
    list-style-image: url("StarBullet.png");
    list-style-type: square;
    color: #2B0D25;
}
